In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2x2AllData_Clean.csv")
# df.fillna(0, inplace=True)
df.head()

    1   2      3      4      5    6    7    8        9
0  up  up     up    NaN    NaN  NaN  NaN  NaN  Invalid
1  up  up  right     up    NaN  NaN  NaN  NaN  Invalid
2  up  up  right  right    NaN  NaN  NaN  NaN   Solved
3  up  up  right   down     up  NaN  NaN  NaN  Invalid
4  up  up  right   down  right   up  NaN  NaN   Solved

In [3]:
paths = df.drop('9', axis='columns'); paths.head() #more dynamic in the future

    1   2      3      4      5    6    7    8
0  up  up     up    NaN    NaN  NaN  NaN  NaN
1  up  up  right     up    NaN  NaN  NaN  NaN
2  up  up  right  right    NaN  NaN  NaN  NaN
3  up  up  right   down     up  NaN  NaN  NaN
4  up  up  right   down  right   up  NaN  NaN

In [20]:
path_validation = df['9']
path_validation_n = path_validation.replace(to_replace="Solved", value=1)
path_validation_n = path_validation_n.replace(to_replace="Invalid", value=0)
path_validation_n

0      0
1      0
2      1
3      0
4      1
      ..
113    0
114    0
115    0
116    0
117    0
Name: 9, Length: 118, dtype: int64

In [12]:
#encode all path directions columns
from sklearn.preprocessing import LabelEncoder
for column in paths.columns:
    new_column_name = column + '_n'
    paths[new_column_name] = LabelEncoder().fit_transform(paths[str(column)])

In [13]:
paths.head()

,1,2,3,4,5,6,7,8,1_n,2_n,3_n,4_n,5_n,6_n,7_n,8_n
0,up,up,up,NaN,NaN,NaN,NaN,NaN,3,3,3,4,4,4,4,4
1,up,up,right,up,NaN,NaN,NaN,NaN,3,3,2,3,4,4,4,4
2,up,up,right,right,NaN,NaN,NaN,NaN,3,3,2,2,4,4,4,4
3,up,up,right,down,up,NaN,NaN,NaN,3,3,2,0,3,4,4,4
4,up,up,right,down,right,up,NaN,NaN,3,3,2,0,2,3,4,4

In [16]:
cols_removed = paths.columns[0:len(paths.columns)//2]
paths_n = paths.drop(cols_removed, axis='columns')

In [17]:
paths_n.head()

   1_n  2_n  3_n  4_n  5_n  6_n  7_n  8_n
0    3    3    3    4    4    4    4    4
1    3    3    2    3    4    4    4    4
2    3    3    2    2    4    4    4    4
3    3    3    2    0    3    4    4    4
4    3    3    2    0    2    3    4    4

In [18]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [21]:
model.fit(paths_n, path_validation_n)

DecisionTreeClassifier()

In [22]:
model.score(paths_n, path_validation_n)

1.0

In [24]:
#up -> 3, right -> 2, left -> 1, down -> 0 
model.predict([[3,2,3,2,4,4,4,4]])

array([1])

In [27]:
import pickle
pickle.dump(model, open("2x2TrainModel.sav", 'wb'))

In [30]:
loaded_model = pickle.load(open("2x2TrainModel.sav", "rb"))
result = loaded_model.predict([[3,2,1,2,4,4,4,4]]); result

array([0])